#q1]It is made up of a collection of tables that stores a specific set of structured data. A table contains a collection of rows, also referred to as records or tuples, and columns, also referred to as attributes
#The difference between sql and nosql is:
#SQL:Tables fixed with columns and rows
#NoSQL:JSON documents, Key-value: key-value pairs, Wide-column: tables with rows and dynamic columns, Graph: nodes and edges.
#SQL:The schemas are rigid and scaling is vertical.
#NoSQL:The schemas is flexible and horizontal and easy for developers.

#q2] It is describes the portion of SQL that creates, alters, and deletes database objects. These database objects include schemas, tables, views, sequences, catalogs, indexes, variables, masks, permissions, and aliases.
#CREATE TABLE:The CREATE TABLE command creates a new table in the database.
    CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);
#ALTER TABLE:The ALTER TABLE command adds, deletes, or modifies columns in a table.
    ALTER TABLE Customers
    ADD Email varchar(255);
#DROP TABLE:The DROP TABLE command deletes a table in the database.
    DROP TABLE Shippers;

#q3]It(DML) is the component of the SQL statement that controls access to data and to the database.
List of DML commands: 

#INSERT : It is used to insert data into a table.
    INSERT INTO TABLE_NAME ( column_Name1 , column_Name2..)
#UPDATE: It is used to update existing data within a table.
    UPDATE Table_name SET [column_name1= value_1,â€¦,column_nameN = value_N] WHERE CONDITION;
#DELETE : It is used to delete records from a database table.
    DELETE FROM Table_Name WHERE condition;

#q4]DQL is used to fetch the data from the database.
#SELECT: This is the same as the projection operation of relational algebra. It is used to select the attribute based on the condition described by WHERE clause.
SELECT expressions    
FROM TABLES    
WHERE conditions;

#q5]A Primary key is a unique column we set in a table to easily identify and locate data in queries. A table can have only one primary key.
#A foreign key is a field or collection of fields in a table that refers to the Primary key of the other table. It is responsible for managing the relationship between the tables.
#The table which contains the foreign key is often called the child table, and the table whose primary key is being referred by the foreign key is called the Parent Table.

#q6]
import mysql.connector
myconn=mysql.connector.connect(host="localhost",user="root",password="root",database="mydb")
print(myconn)
curs=myconn.cursor()
print(cur)

#example
#cursor method and execute method
#here we are importing and creating connection
import mysql.connector
conn = mysql.connector.connect(
  host="localhost",
  user="sammy",
  password="password",
  database ="dbTest"
)
# here we are importing the cursor from the connection (conn)
mycursor = conn.cursor()
mycursor.execute("SELECT * FROM MOVIE")
# then iterating over the result
for row in mycursor:
    print(row)
#Finally we are closing both the conn and cursor both after the execution
mycursor.close()
conn.close()