In [29]:
#1.
import pandas as a
data=[4,8,15,16,23,42]
df=a.Series(data)
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [11]:
#2.
import pandas as b
lst=[1,2,3,4,5,6,7,8,9,10]
df=b.Series(lst)
print(df)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [1]:
#3.
import pandas as c

data={"Name": ["lisa", "jennie", "Jisoo"],
      "Age" : [25,30,27],
      "Gender" : ["Female","Female","Female"]
     }
df=c.DataFrame(data)
print(df)

     Name  Age  Gender
0    lisa   25  Female
1  jennie   30  Female
2   Jisoo   27  Female

In [2]:
#4.
#A Pandas DataFrame is a 2-dimensional labeled data structure with columns of potentially different data types, similar to a spreadsheet or SQL table.
#A Pandas Series, on the other hand, is a one-dimensional labeled array that can hold data of any data type.
#The Pandas Series only contains the values from the 'Age' column, while the Pandas DataFrame contains all the columns and associated data.
import pandas as pd

# create a dictionary of data
data = {'Name': ['Lisa', 'Jennie', 'Rose'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Female', 'Female']}

# create a DataFrame from the dictionary
df = pd.DataFrame(data)

# create a Series from the 'Age' column of the DataFrame
age_series = df['Age']

print(df)
print(age_series)

     Name  Age  Gender
0    Lisa   25  Female
1  Jennie   30  Female
2    Rose   27  Female
0    25
1    30
2    27
Name: Age, dtype: int64

In [3]:
#5.
#Some common functions that can be used to manipulate data in a Pandas DataFrame include:
#1. head() and tail(): These functions are used to display the first few or last few rows of the DataFrame, respectively. 
#For example, df.head() would display the first 5 rows of the DataFrame df.
#2. drop(): This function is used to remove rows or columns from the DataFrame. 
#For example, df.drop(0) would remove the first row of the DataFrame df.
#3. fillna(): This function is used to fill missing values in the DataFrame with a specified value or method. 
#For example, df.fillna(0) would fill all missing values in the DataFrame df with 0.

a = df.head(2)
b = df.tail(1)
print(a)
print(b)

     Name  Age  Gender
0    Lisa   25  Female
1  Jennie   30  Female
   Name  Age  Gender
2  Rose   27  Female

In [ ]:
#6.
#In pandas, both Series and DataFrame are mutable in nature, meaning that we can modify their contents after they have been created. 
#And Panel is deprecated in the latest version of pandas and replaced with MultiIndex objects, which are also mutable.

In [4]:
#7.
#Suppose we have three Pandas Series, name, age, and gender, which contain the following data:
name = pd.Series(['V', 'RM', 'JHope'])
age = pd.Series([25, 30, 27])
gender = pd.Series(['Male', 'Male', 'Male'])

#To create a DataFrame using these Series, we can use the pd.DataFrame() function and pass a dictionary where the keys are the column names and the values are the Series
df = pd.DataFrame({'Name': name, 'Age': age, 'Gender': gender})

#This will create a DataFrame df with three columns named 'Name', 'Age', and 'Gender', and the data from the three Series will be inserted into the respective columns:
print(df)

    Name  Age Gender
0      V   25   Male
1     RM   30   Male
2  JHope   27   Male